/* * {
  font-family: 'Poppins', sans-serif !important;
} */

.mat-accordion {
  width: 100%;
}

mat-expansion-panel mat-expansion-panel-header {
  padding-top: 15px;
  padding-bottom: 15px;
  height: auto !important;
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 0%, rgba(28,58,83,1) 5%, rgba(67,135,193,1) 88%);
}

/* style defined to only the component instances which are defined inside an
   element which has class=".filterPanel" */
   :host::ng-deep .filterPanel  {
    border-radius: 0 !important;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 0%, rgba(28,58,83,1) 5%, rgba(67,135,193,1) 88%);
}

:host::ng-deep .filterPanel .mat-expansion-indicator::after {
  color: white;
}

:host::ng-deep .filterPanel .mat-expansion-panel-body {
  background: #686b67;
  padding-top: 16px;
}

.filterExpHeader {
  padding-top: 5px !important;
  padding-bottom: 10px !important;
}

.filtersTitle {
  display: flex;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  color: white;
  margin-right: 0;
}

.filtersTitle mat-expansion {
  text-align: center;
}

.filtersContainer {
  display: flex;
}

.filtersContainer > * {
  /* flex: auto; */
  flex-grow: 1;
  flex-basis: 0;
}

.mat-expansion-panel:not(.mat-expanded):not([aria-disabled=true]) .mat-expansion-panel-header:hover {
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 0%, rgba(28,58,83,1) 5%, rgba(67,135,193,1) 88%);
}

@media only screen and (max-width: 820px) {
  .filtersContainer > * {
    flex: 1 0 50%;
  }

  .filtersContainer > *:last-child {
    flex: 0 1 100%;
  }

  .filtersContainer {
      flex-direction: row;
      flex-wrap: wrap;
  }

  :host::ng-deep .filterPanel .mat-expansion-panel-body {
    padding-bottom: 24px;
    /* padding: 15px; */
  }
}

@media only screen and (max-width: 539px) {
  .filtersContainer > *:first-child {
    flex: 0 1 100%;
  }

  :host::ng-deep .filterPanel .mat-expansion-panel-body {
    padding-bottom: 35px;
  }

}






