<mat-toolbar>
    <span routerLink="/landing-page" class="logo" (click)="backToLandingPage()">Viet4Me</span>
    <span class="spacer">|</span>
    <div class="nav-button-group">
      <a routerLinkActive="active" class="align-horizontal-vertical" routerLink="/main-page/home">Home</a>
      <a routerLinkActive="active" class="align-horizontal-vertical" routerLink="/main-page/add-content">Add Content</a>
      <a routerLinkActive="active" class="align-horizontal-vertical" >Manage Account</a>
      <a routerLinkActive="active" class="align-horizontal-vertical logOut" (click)="onLogOut()">Log Out</a>
    </div>
    <button class="hamburger" (window:resize)="onResize($event)" mat-icon-button #menuTrigger="matMenuTrigger" [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/main-page/home">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </button>
      <button mat-menu-item routerLink="/main-page/add-content">
        <mat-icon>input</mat-icon>
        <span>Add Content</span>
      </button>
      <button mat-menu-item>
        <mat-icon>edit</mat-icon>
        <span>Manage Account</span>
      </button>
      <button mat-menu-item (click)="onLogOut()">
        <mat-icon>power_settings_new</mat-icon>
        <span>Log Out</span>
      </button>
    </mat-menu>
</mat-toolbar>
