.mat-toolbar {
  background: #4387c1;
  color: white;
  position: fixed;
  top: 0;
  z-index: 1000;
  height: 64px;
}

.nav-button-group a {
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
    color: white;
    height: 80%;
    cursor: pointer;
    margin-top: 6px;
    border-radius: 25px;
}

.nav-button-group {
    display: flex;
    height: 100%;
    width: 100%;
}

.logo {
    padding: 5px 10px;
    margin-right: 10px;
    cursor: pointer;
    font-size: 30px;
    border: 2px solid lightgrey;
}

.hamburger {
  display: none;
}

/* Style the active class, and buttons on mouse-over */
.active, a:hover, .logo:hover {
    background-color: #21639c;
    color: white;
}

/* .active, 
a:hover {
  margin: 10px 0;
} */

.spacer {
    margin-left: 10px;
    margin-right: 10px;
}

.logOut {
  margin-left: auto;
}

mat-icon {
  display: none;
}

.divider{
  width: 10px;
  height: auto;
  display: inline-block;
}

@media only screen and (max-width: 750px) {
  .hamburger {
    display: block;
  }

  .nav-button-group > a:not(first-child) {
    display: none;
  }

  .spacer {
    display: none;
  }

  mat-icon {
    display: block;
    width: 100%;
  }

  button.mat-menu-item {
    height: 100%;
  }

  ::ng-deep .mat-menu-content button {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  ::ng-deep .mat-menu-content button span {
    font-family: 'Be Vietnam', 'Poppins';
  }
}
