.mat-toolbar {
  background: #4387c1;
  color: white;
  position: fixed;
  top: 0;
  z-index: 1000;
  height: 10%;
}

.nav-button-group a {
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
    color: white;
    height: 100%;
    cursor: pointer;
}

.nav-button-group {
    display: flex;
    height: 100%;
    width: 100%;
}

.logo {
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
    cursor: pointer;
    font-size: 30px;
    border: 2px solid lightgrey;
}

/* Style the active class, and buttons on mouse-over */
.active, a:hover, .logo:hover {
    background-color: #21639c;
    color: white;
}

.spacer {
    margin-left: 10px;
    margin-right: 10px;
}

.logInOrOut {
  margin-left: auto;
}

mat-icon {
  display: none;
}

@media only screen and (max-width: 660px) {
  .nav-button-group > a:not(first-child) {
    display: none;
  }

  .spacer {
    display: none;
  }

  /* ::ng-deep .mat-button-ripple.mat-ripple, ::ng-deep .mat-button-focus-overlay {
    display: none;
  } */

  mat-icon {
    display: block;
  }

  button.mat-menu-item {
    height: 100%;
  }

  ::ng-deep .mat-menu-content button {
    display: flex;
    justify-content: center;
    align-items: center;
  }

}
