mat-card {
  height: 80%;
}

mat-label {
  color: white;
}

.createPostContainer {
  height: 80%;
  width: 80%;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: rgba(0,0,0,0.5);
}

::ng-deep.mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: white !important;
}

.postCreateTitle {
  padding-bottom: 20px;
}
