*,
::ng-deep.mat-button-wrapper,
input
 {
  font-family: 'Be Vietnam', 'poppins';
}

mat-label {
  color: white;
}

mat-spinner {
  margin: auto;
}

.adjustBackgroundBecauseHeader {
  padding-top: 64px;
}

form {
  width: 80%;
}

section {
  padding-top: 20px;
  padding-bottom: 20px;
}

.innerContainer {
  width: 85%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  color: white;
  background: rgba(0,0,0,0.5);
}

::ng-deep.mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: white !important;
}

::ng-deep.mat-checkbox-frame {
  border-color: white !important;
}

.postCreateTitle {
  padding-bottom: 20px;
  padding-top: 20px;
  text-decoration: underline;
  text-align: center;
}

.mat-stroked-button {
  border-color: white;
}

.mat-form-field {
  width: 100%;
}

.checkboxCategories {
  display: flex;
  flex-direction: column;
}

.checkboxTitle {
  padding-bottom: 10px;
}

.addCategoryDiv {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding-top: 10px;
}

.addCategoryNameField {
  width: 80%;
}

#addCategoryBtn {
  width: 15%;
  height: 100%;
}

.submitContentSection {
  text-align: center;
}

.submitContentBtn {
  background-color: rgb(40 173 46);
}

.info-text {
  text-align: center;
  padding: 10px 0;
}
