*,
::ng-deep.mat-button-wrapper,
input
 {
  font-family: 'Be Vietnam', 'poppins';
}

mat-label {
  color: white;
}

mat-spinner {
  margin: auto;
}

::ng-deep.mat-checkbox-layout .mat-checkbox-label {
  display: flex;
}

.adjustBackgroundBecauseHeader {
  padding-top: 64px;
}

form {
  width: 80%;
}

section {
  padding-top: 20px;
  padding-bottom: 20px;
}

.innerContainer {
  width: 85%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  color: white;
  background: rgba(0,0,0,0.5);
}

:host ::ng-deep.mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: white;
}

:host ::ng-deep.mat-checkbox-frame {
  border-color: white;
}

:host ::ng-deep .mat-form-field-required-marker {
  color: #f44336;
}

.postCreateTitle {
  padding-bottom: 20px;
  padding-top: 20px;
  text-decoration: underline;
  text-align: center;
}

.checkboxTitle {
  text-align: center;
}

.mat-stroked-button {
  border-color: white;
}

.mat-form-field {
  width: 100%;
}

.checkboxCategories {
  display: flex;
  flex-direction: column;
}

.addCategoryDiv {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding-top: 10px;
}

.addCategoryNameField {
  width: 80%;
}

#addCategoryBtn {
  width: 15%;
  height: 100%;
}

.submitContentSection {
  text-align: center;
}

.submitContentBtn {
  background-color: rgb(40 173 46);
}

.removeCategoryBtn {
  margin-left: 10px;
  width: 20px;
  height: 25px;
  background-color: red;
  color: white;
  border: 1px solid white;
}

.info-text {
  text-align: center;
  padding: 10px 0;
}

.mat-checkbox {
  cursor: default;
  margin: 3px 0;
}

::ng-deep.mat-checkbox-inner-container {
  cursor: pointer;
}

.lowerWidthEnterContentCaption,
.lowerWidthAddCategoryCaption {
  display: none;
}

::ng-deep .mat-checkbox-layout .mat-checkbox-label {
  white-space: normal !important;
}

@media only screen and (max-width: 720px) {
  .addCategoryDiv {
    display: flex;
    flex-direction: column;
  }

  .addCategoryNameField mat-label {
    display: none;
  }

  .lowerWidthAddCategoryCaption {
    display: block;
    text-align: center;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 400px) {
  .lowerWidthEnterContentCaption {
    display: block;
    text-align: center;
    margin-bottom: 10px;
  }

  .enterContent mat-label {
    display: none;
  }


}
