<app-header></app-header>
<div class="background">
  <div class="container fit-full-screen-with-nav">
    <div class="createPostContainer">
      <form class="example-form">

        <h2 class="postCreateTitle">Add a new word or phrase!</h2>

        <div>
          <mat-form-field class="">
            <mat-label>English Word or Phrase</mat-label>
            <input matInput>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field class="">
            <mat-label>Address 2</mat-label>
            <textarea matInput></textarea>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field class="">
            <mat-label>Address 3</mat-label>
            <textarea matInput></textarea>
          </mat-form-field>
        </div>

      </form>
    </div>
  </div>
</div>

