<app-header></app-header>
<div class="adjustBackgroundBecauseHeader">
  <div class="container">
    <div class="innerContainer">
      <form class="postCreateForm">

        <h2 class="postCreateTitle">Add a new word or phrase!</h2>

        <mat-form-field class="">
          <mat-label>Enter english word or phrase:</mat-label>
          <input matInput>
        </mat-form-field>

        <section>
          <button mat-stroked-button type="button">Pick Image</button>
          <!-- <input type="file" #filePicker (change)="onImagePicked($event)"> -->
        </section>

        <section class="checkboxCategories">
          <p class="checkboxTitle">Select or add categories to store input in:</p>
          <mat-checkbox>
            First checkbox
          </mat-checkbox>
          <mat-checkbox>
            Second checkbox
          </mat-checkbox>
          <mat-checkbox>
            Third checkbox
          </mat-checkbox>

          <div class="addCategoryDiv">
            <mat-form-field class="addCategoryNameField">
              <mat-label>Want a new category? Add one here (optional):</mat-label>
              <input matInput class="categoryInput">
            </mat-form-field>
            <button mat-stroked-button type="button" id="addCategoryBtn">Add</button>
          </div>
        </section>

        <section class="submitContentSection">
          <button mat-stroked-button type="button" class="submitContentBtn">Submit Content</button>
        </section>

        <!--  -->
      </form>
    </div>
  </div>
</div>

