<mat-toolbar>
    <span class="logo">Viet4Me</span>
    <div class="nav-button-group">
        <a routerLinkActive="active" class="align-horizontal-vertical" href="">Home</a>
        <a routerLinkActive="active" class="align-horizontal-vertical"href="">Add Content</a>
        <a routerLinkActive="active" class="align-horizontal-vertical"href="">Review</a>
        <a routerLinkActive="active" class="align-horizontal-vertical"href="">Personal Notes</a>
        <a routerLinkActive="active" class="align-horizontal-vertical"href="">Log out</a>
    </div>
    
</mat-toolbar>
