<div class="manageAccountContent">
    <p class="title">Rename Category</p>
    <div class="innerContent">
        <h4><span class="stepNumber">1</span>Select one current category:</h4>
        <mat-form-field appearance="outline">
            <mat-label>Choose an option...</mat-label>
            <mat-select>
              <mat-option *ngFor="let category of categories" [value]="category">
                {{ category }}
              </mat-option>
            </mat-select>
        </mat-form-field>
        <h4><span class="stepNumber">2</span> Enter new category name:</h4>
        <mat-form-field appearance="outline">
        <mat-label>Enter category name here...</mat-label>
        <input matInput type="text" [(ngModel)]="value">
        <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
            <mat-icon>close</mat-icon>
        </button>
        </mat-form-field>
    </div>
</div>