:host {
    width: 100%;
}

.title {
    font-size: 1.5rem;
    text-align: center;
    padding-bottom: 50px;
}

.currentCategory {
    background-color: lightgray;
    display: flex;
    align-items: center;
    border: 1px solid darkgray;
    border-radius: 5px;
    height: 3em;
    padding: 5px;
}

.manageAccountContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.innerContent {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    /* height: 100%; */
}

:host ::ng-deep mat-selection-list {
    border: 1px solid darkgray;
    border-radius: 10px 0 0 10px;
    width: 40%;
    height: 40vh;
    overflow: auto;
    margin-bottom: 20px;
}

.rightInnerContent {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

:host ::ng-deep .mat-form-field {
    width: 100%;
}

:host ::ng-deep .mat-list-text {
    padding-bottom: 10px !important;
    padding-top: 10px !important;
}

:host ::ng-deep mat-list-option {
    height: auto !important;
}

:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 1.5em 0 1em 0;
}

:host ::ng-deep mat-label,
:host ::ng-deep input {
    line-height: normal;
}

:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-flex {
    margin-top: 5px;
}

/* moves placeholder text a little bit more up regarding category input */
:host ::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label, .mat-form-field-appearance-outline.mat-form-field-can-float .mat-input-server:focus+.mat-form-field-label-wrapper .mat-form-field-label {
    transform: translateY(-1.79375em) scale(0.75);
}

@media only screen and (max-width: 750px) {
    .innerContent {
        flex-direction: column;
        align-items: center;
    }

    .rightInnerContent {
        width: 100%;
    }

    :host {
        height: 100%;
    }

    :host ::ng-deep .mat-form-field,
    :host ::ng-deep mat-selection-list,
    .currentCategory,
    .rightInnerContent {
        width: 100%;
    }

    .title {
        padding-top: 30px;
        padding-bottom: 30px;
        font-size: 4vw;
    }
}