<div class="manageAccountContent">
    <p class="title">Rename an Already Existing Category</p>
    <div class="innerContent">
        <mat-selection-list #shoes [multiple]="false">
            <mat-list-option *ngFor="let shoe of typesOfShoes" [value]="shoe">
            {{shoe}}
            </mat-list-option>
        </mat-selection-list>
        <div class="rightInnerContent">
            <p class="currentCategory">Current category: {{shoes.selectedOptions.selected[0]?.value }}</p>
            <p>
                <mat-form-field appearance="outline">
                  <mat-label>Enter new category name:</mat-label>
                  <input matInput>
                  <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                </mat-form-field>
              </p>
        </div>
    </div>
</div>
