<div class ="vietCharactersContainer" *ngIf="vietLangFilterSelected">
  <p class="vietCharactersHeading">Vietnamese Characters:</p>
  <div class="vietCharactersContent">
    <div class="aCharacters">
      <div class="firstRow">
        <button>á</button>
        <button>à</button>
        <button>ả</button>
        <button>ã</button>
        <button>ạ</button>
        <button>ă</button>
      </div>
      <div class="secondRow">
        <button>ắ</button>
        <button>ằ</button>
        <button>ẳ</button>
        <button>ẵ</button>
        <button>ặ</button>
        <button>â</button>
      </div>
      <div class="thirdRow">
        <button>ấ</button>
        <button>ầ</button>
        <button>ẩ</button>
        <button>ẫ</button>
        <button>ậ</button>
      </div>
    </div>
    <div class="dCharacters">
      <div class="firstRow">
        <button>đ</button>
      </div>
      <div class="secondRow">
        <button>₫</button>
      </div>
    </div>
    <div class="eCharacters">
      <div class="firstRow">
        <button>é</button>
        <button>è</button>
        <button>ẻ</button>
        <button>ẽ</button>
      </div>
      <div class="secondRow">
        <button>ẹ</button>
        <button>ê</button>
        <button>ế</button>
        <button>ề</button>
      </div>
      <div class="thirdRow">
        <button>ể</button>
        <button>ễ</button>
        <button>ệ</button>
      </div>
    </div>
    <div class="iCharacters">
      <div class="firstRow">
        <button>í</button>
        <button>ì</button>
      </div>
      <div class="secondRow">
        <button>ỉ</button>
        <button>ĩ</button>
      </div>
      <div class="thirdRow">
        <button>ị</button>
      </div>
    </div>
    <div class="oCharacters">
      <div class="firstRow">
        <button>ó</button>
        <button>ò</button>
        <button>ò</button>
        <button>õ</button>
        <button>ọ</button>
        <button>ô</button>
      </div>
      <div class="secondRow">
        <button>ố</button>
        <button>ồ</button>
        <button>ổ</button>
        <button>ỗ</button>
        <button>ộ</button>
        <button>ơ</button>
      </div>
      <div class="thirdRow">
        <button>ớ</button>
        <button>ờ</button>
        <button>ở</button>
        <button>ỡ</button>
        <button>ợ</button>
      </div>
    </div>
    <div class="uCharacters">
      <div class="firstRow">
        <button>ú</button>
        <button>ù</button>
        <button>ủ</button>
        <button>ũ</button>
      </div>
      <div class="secondRow">
        <button>ụ</button>
        <button>ư</button>
        <button>ứ</button>
        <button>ừ</button>
      </div>
      <div class="thirdRow">
        <button>ử</button>
        <button>ữ</button>
        <button>ự</button>
      </div>
    </div>
    <div class="yCharacters">
      <div class="firstRow">
        <button>ý</button>
        <button>ỳ</button>
      </div>
      <div class="secondRow">
        <button>ỷ</button>
        <button>ỹ</button>
      </div>
      <div class="thirdRow">
        <button>ỵ</button>
      </div>
    </div>
  </div>
</div>
