.vietCharactersHeading {
  padding-left: 10px;
  font-family: 'Be Vietnam', 'Acme' !important;
}

.vietCharactersContainer {
  margin-top: 10px;
  background-color: lightgray;
}

.vietCharactersContent {
  display: flex;
  justify-content: space-evenly;
  padding-top: 5px;
}

.vietKeyboardHeader {
  background-color: lightgray;
  height: 50px;
}

.firstRow, .secondRow, .thirdRow {
  display: flex;
}

.firstRow button, .secondRow button, .thirdRow button {
  width: 32px;
  height: 35px;
  font-family: 'Be Vietnam', 'Acme' !important;
  font-size: 18px;
  cursor: pointer;
  outline: none;
}

:host::ng-deep .vietKeyboardPanel .mat-expansion-panel-body,
:host::ng-deep .vietKeyboardPanel {
  background-color: lightgray;
}

:host::ng-deep .vietKeyboardPanel .mat-expansion-panel-body {
  padding-top: 5px;
}

.clickMeText {
  display: flex;
  align-items: center;
  color: #000000DE;
  font-family: 'Be Vietnam', 'Acme';
}

hr {
  margin-bottom: 10px;
}
