<div class ="vietCharactersContainer" *ngIf="vietLangFilterSelected">
  <p class="vietCharactersHeading">Vietnamese Characters:</p>
  <div class="vietCharactersContent">
    <div class="aCharacters">
      <div class="firstRow">
        <div *ngFor="let char of aFirstRow">
          <button value="{{char}}" (click)="insertIntoInput($event.target.value)">{{ char }}</button>
        </div>
      </div>
      <div class="secondRow">
        <div *ngFor="let char of aSecondRow">
          <button value="{{char}}" (click)="insertIntoInput($event.target.value)">{{ char }}</button>
        </div>
      </div>
      <div class="thirdRow">
        <div *ngFor="let char of aThirdRow">
          <button value="{{char}}" (click)="insertIntoInput($event.target.value)">{{ char }}</button>
        </div>
      </div>
    </div>

    <div class="dCharacters">
      <div class="firstRow">
        <div *ngFor="let char of dFirstRow">
          <button value="{{char}}" (click)="insertIntoInput($event.target.value)">{{ char }}</button>
        </div>
      </div>
      <div class="secondRow">
        <div *ngFor="let char of dSecondRow">
          <button value="{{char}}" (click)="insertIntoInput($event.target.value)">{{ char }}</button>
        </div>
      </div>
    </div>

    <div class="eCharacters">
      <div class="firstRow">
        <div *ngFor="let char of eFirstRow">
          <button value="{{char}}" (click)="insertIntoInput($event.target.value)">{{ char }}</button>
        </div>
      </div>
      <div class="secondRow">
        <div *ngFor="let char of eSecondRow">
          <button value="{{char}}" (click)="insertIntoInput($event.target.value)">{{ char }}</button>
        </div>
      </div>
      <div class="thirdRow">
        <div *ngFor="let char of eThirdRow">
          <button value="{{char}}" (click)="insertIntoInput($event.target.value)">{{ char }}</button>
        </div>
      </div>
    </div>

    <div class="iCharacters">
      <div class="firstRow">
        <div *ngFor="let char of iFirstRow">
          <button value="{{char}}" (click)="insertIntoInput($event.target.value)">{{ char }}</button>
        </div>
      </div>
      <div class="secondRow">
        <div *ngFor="let char of iSecondRow">
          <button value="{{char}}" (click)="insertIntoInput($event.target.value)">{{ char }}</button>
        </div>
      </div>
      <div class="thirdRow">
        <div *ngFor="let char of iThirdRow">
          <button value="{{char}}" (click)="insertIntoInput($event.target.value)">{{ char }}</button>
        </div>
      </div>
    </div>

    <div class="oCharacters">
      <div class="firstRow">
        <div *ngFor="let char of oFirstRow">
          <button value="{{char}}" (click)="insertIntoInput($event.target.value)">{{ char }}</button>
        </div>
      </div>
      <div class="secondRow">
        <div *ngFor="let char of oSecondRow">
          <button value="{{char}}" (click)="insertIntoInput($event.target.value)">{{ char }}</button>
        </div>
      </div>
      <div class="thirdRow">
        <div *ngFor="let char of oThirdRow">
          <button value="{{char}}" (click)="insertIntoInput($event.target.value)">{{ char }}</button>
        </div>
      </div>
    </div>

    <div class="uCharacters">
      <div class="firstRow">
        <div *ngFor="let char of uFirstRow">
          <button value="{{char}}" (click)="insertIntoInput($event.target.value)">{{ char }}</button>
        </div>
      </div>
      <div class="secondRow">
        <div *ngFor="let char of uSecondRow">
          <button value="{{char}}" (click)="insertIntoInput($event.target.value)">{{ char }}</button>
        </div>
      </div>
      <div class="thirdRow">
        <div *ngFor="let char of uThirdRow">
          <button value="{{char}}" (click)="insertIntoInput($event.target.value)">{{ char }}</button>
        </div>
      </div>
    </div>

    <div class="yCharacters">
      <div class="firstRow">
        <div *ngFor="let char of yFirstRow">
          <button value="{{char}}" (click)="insertIntoInput($event.target.value)">{{ char }}</button>
        </div>
      </div>
      <div class="secondRow">
        <div *ngFor="let char of ySecondRow">
          <button value="{{char}}" (click)="insertIntoInput($event.target.value)">{{ char }}</button>
        </div>
      </div>
      <div class="thirdRow">
        <div *ngFor="let char of yThirdRow">
          <button value="{{char}}" (click)="insertIntoInput($event.target.value)">{{ char }}</button>
        </div>
      </div>

    </div>
  </div>
</div>
