<div [@formAnimation]="toAnimate" class="background fit-full-screen whiteText align-horizontal-vertical">
    <form [formGroup]="signUpForm" (ngSubmit)="onSubmit(signUpForm)" class="signupForm">
        <hr class="hrLine">
        <h1 class="signUpTitle">Welcome! Create an Account.</h1>
        <hr class="hrLine">
        <br>
        <label for="signUpEmail">Email</label>
        <input
            type="email"
            id="signUpEmail"
            formControlName="signUpEmail"
            placeholder=" email..."
            email
            required>
        <br>
        <label for="newPassword">Password</label>
        <input
            type="password"
            id="newPassword"
            formControlName="newPassword"
            placeholder=" password..."
            required>
        <br>
        <label for="newPassword">Password</label>
        <input
            type="password"
            id="reenterPassword"
            formControlName="reenterPassword"
            placeholder=" password..."
            required>
        <br><br>
        <input type="submit" id="signUpSubmit" value="Register">
        <br>
        <app-form-nav-links></app-form-nav-links>
    </form>
</div>
