<app-header></app-header>
<div class="adjustBackgroundBecauseHeader">
    <div class="container">
        <mat-accordion class="example-headers-align">
            <mat-expansion-panel disabled [expanded]="true" hideToggle>
                

                <app-delete-category *ngIf="router.url === '/main-page/manage-account/delete-category'"></app-delete-category>
                <app-rename-category *ngIf="router.url === '/main-page/manage-account/rename-category'"></app-rename-category>
                <app-change-password *ngIf="router.url === '/main-page/manage-account/change-password'"></app-change-password>
                <app-change-email *ngIf="router.url === '/main-page/manage-account/change-email'"></app-change-email>

                <mat-action-row>
                    <button mat-button color="warn" routerLink="/main-page/manage-account">
                        Back
                    </button>
                    <button mat-button color="primary">{{ routeConfirmation }}</button>
                </mat-action-row>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>
