<div class="background fit-full-screen whiteText align-horizontal-vertical">
    <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
        <hr class="hrLine">
        <h1 class="signUpTitle">Welcome! Create an Account.</h1>
        <hr class="hrLine">
        <label for="signUpEmail">Enter your Email</label>
        <input 
            type="email" 
            id="signUpEmail" 
            placeholder=" email...">
        <br>
        <label for="newUsername">Enter a Username</label>
        <input 
            type="text" 
            id="newUsername" 
            placeholder=" username...">
        <br>
        <label for="newPassword">Enter a Password</label>
        <input 
            type="password" 
            id="newPassword" 
            placeholder=" password...">
        <br>
        <label for="reenterPassword">Re-enter Password</label>
        <input 
            type="password" 
            id="reenterPassword" 
            placeholder=" password...">
        <br><br>
        <input type="submit" id="signUpSubmit" value="Register">
        <br>
        <app-form-nav-links></app-form-nav-links>
    </form>
</div>