form {
    background:rgba(0,0,0,0.5);
    width: 450px;
    height: 65vh;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px groove;
}

.hrLine {
    width: 100%;
}

label:first-of-type{
    margin-top: 15px;
}

#logInEmail,
#logInPassword,
#logInSubmit,
label {
    width: 300px;
    height: 30px;
}

#logInEmail,
#logInPassword,
#logInSubmit {
    font-size: 17px;
    border-radius: 5px;
}

label {
    font-size: 18px;
}

.logInTitle {
    padding: 10px;
    text-align: center;
    font-size: 2rem;
}

#logInSubmit {
    color: white;
    background-color: rgb(33, 189, 33);
    border: none;
    cursor: pointer;
}

@media only screen and (max-width: 500px) {
  form {
    width: 95%;
  }

  label,
  #logInEmail,
  #logInPassword,
  #logInSubmit {
    width: 80%;
  }
}

@media only screen and (max-width: 387px) {
  .newLineInText {
    display: block;
  }
}
