<section>
  <span class="">
    <mat-checkbox
      class="margin"
      [checked]="allComplete"
      [indeterminate]="someComplete()"
      (change)="setAll($event.checked)">
      {{categoryFilter.name}}
    </mat-checkbox>
  </span>
  <span class="">
    <ul class="availableCategoriesList" *ngIf="categoryFilter.categories.length > 0">
      <li *ngFor="let category of categoryFilter.categories" >
        <mat-checkbox
          [(ngModel)]="category.completed"
          [color]="category.color"
          (ngModelChange)="updateAllComplete(category)">
          {{ category.name }}
        </mat-checkbox>
      </li>
    </ul>
    <p class="info-text" *ngIf="categoryFilter.categories.length <= 0">No categories added yet!</p>
  </span>
  <div class="triangle-right-corner"></div>
</section>
