section {
  background-color: lightgray;
  height: 100%;
  position: relative;
}

:host::ng-deep .mat-checkbox-layout .mat-checkbox-label {
  font-family: 'Poppins', sans-serif;
  white-space: normal;
  line-height: 0.5cm;
  padding-top: 5px;
}

.margin {
  margin: 0 12px;
  text-decoration: underline;
}

ul {
  list-style-type: none;
  margin-top: 4px;
}

li {
  padding-left: 20px;
}

.triangle-right-corner {
  position: absolute;
	width: 0;
  height: 0;
  top: 5px;
  right: 5px;
	border-left: 20px solid transparent;
  border-right: 20px solid #4387c1;
  border-bottom: 20px solid transparent;
}

:host::ng-deep .mat-paginator-page-size {
  display: none;
}

:host::ng-deep .mat-paginator-container {
  background-color: lightgrey;
}

.categoryHr {
  margin-top: 5px;
}

:host::ng-deep .mat-paginator-range-label {
  color: black;
  font-family: 'Poppins', sans-serif;
}

.info-text {
  text-align: center;
  font-family: 'poppins', 'acme';
  padding: 5px 0;
}

