<section>
  <span class="">
    <mat-checkbox class="margin"
                  [checked]="allComplete"
                  [indeterminate]="someComplete()"
                  (change)="setAll($event.checked)">
      {{categoryFilter.name}}
    </mat-checkbox>
  </span>
  <span class="">
    <ul>
      <li *ngFor="let subtask of categoryFilter.categories">
        <mat-checkbox [(ngModel)]="subtask.completed"
                      [color]="subtask.color"
                      (ngModelChange)="updateAllComplete()">
          {{subtask.name}}
        </mat-checkbox>
      </li>
    </ul>
  </span>
  <div class="triangle-right-corner"></div>
</section>
