<div class="background">
    <div class="main-content">
        <h1 class="landing-page-title">Viet 4 Me</h1>
        <div class="button-group">
            <button class="main-button" routerLink="/log-in"><span>Log In</span></button>
            <button class="main-button" routerLink="/sign-up"><span>Sign Up</span></button>
            <button class="main-button" routerLink="/use-as-guest"><span>Use As Guest</span></button>
        </div>
        <div class="rect top-rectangle"></div>
        <div class="rect right-rectangle"></div>
        <div class="rect bottom-rectangle"></div>
        <div class="rect left-rectangle"></div>
        <div class="rect bottom-left-rectangle"></div>
        <div class="rect bottom-right-rectangle"></div>
        <div class="rect top-right-rectangle"></div>
        <div class="rect top-left-rectangle"></div>
    </div>
</div>

