.example-form-field {
  width: 80%;
}

section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: rgb(255, 255, 255);
}

mat-label,
.cdk-text-field-autofill-monitored:not(:-webkit-autofill) {
  font-family: 'Be Vietnam', sans-serif;
  font-size: 18px;
}

.triangle-right-corner {
  position: absolute;
	width: 0;
  height: 0;
  top: 5px;
  right: 5px;
	border-left: 20px solid transparent;
  border-right: 20px solid #4387c1;
  border-bottom: 20px solid transparent;
}

.vietCharacters {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding-top: 10px;

}

.vietCharacters button {
  width: 30px;
  height: 30px;
  font-size: 18px;
  font-family: 'Be Vietnam', 'Acme';
}

@media only screen and (max-width: 820px) {
  section {
    margin-top: 10px;
  }
}

@media only screen and (max-width: 539px) {
  section {
    margin-top: 20px;
  }
}
