<div class="background fit-full-screen whiteText align-horizontal-vertical">
    <form [formGroup]="logInForm" (ngSubmit)="onSubmit()">
        <hr class="hrLine">
        <h1 class="logInTitle">Welcome Back! Log In.</h1>
        <hr class="hrLine">
        <label for="logInEmail">Email</label><br>
        <input 
            type="email" 
            id="logInEmail" 
            placeholder=" email...">
        <br>
        <label for="logInPassword">Password</label>
        <br>
        <input 
            type="password" 
            id="logInPassword" 
            placeholder=" password...">
        <br><br>
        <input type="submit" id="logInSubmit" value="Submit" [disabled]="!logInForm.valid">
        <br>
        <app-form-nav-links></app-form-nav-links>
    </form>
</div>

