/* You can add global styles to this file, and also import other style files */
*:not(i) {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Acme', sans-serif;
    background-attachment: fixed;
}

html, body {
  overflow: auto;
  /* height: 100vh; */
  min-height: 100%;
}

/* img source: https://unsplash.com/s/photos/vietnam-sunset */
body {
  background: linear-gradient(
        rgba(24, 21, 21, 0.5),
        rgba(0, 0, 0, 0.5)
      ), url('../src/assets/images/vietnam_optimized.jpg'), no-repeat;
    background-size: cover;
  background-attachment: fixed;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.compensatedFixedHeader {
  margin-top: 64px;
}

.fit-full-screen {
    height: 100vh;
    width: 100%;
}

/* assumes angular nav to be 64 px height */
.fit-full-screen-with-nav {
  height: calc(100vh - 64px);
  width: 100%;
}

.bg-blur {
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
}

.align-horizontal-vertical {
    display: flex;
    justify-content: center;
    align-items: center;
}

.whiteText {
    color: white;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
  display: block;
  justify-content: center;
  /* align-items: center; */
}

.has-error input {
  border-color: red;
}

.has-error p {
  float: right;
}

.has-error p,
.has-error label {
  color: red;
}

.eighty_percent_height {
  height: 80%;
}

.form-group {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}



.belowHeaderSpacing {
  margin-top: 64px;
  width: 100%;
}
