<app-header></app-header>
<div class="adjustBackgroundBecauseHeader">

  <mat-accordion multi="true">
    <mat-expansion-panel
      (opened)="filterPanelOpenState = true"
      (closed)="filterPanelOpenState = false"
      class="filterPanel">
      <mat-expansion-panel-header class="filterExpHeader" collapsedHeight="*" expandedHeight="*">
        <mat-panel-title class="filtersTitle">
          {{filterPanelOpenState ? '↓  Adjust settings below to display specific criteria  ↓' : 'Filters'}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>Filters:</p>
    </mat-expansion-panel>
  </mat-accordion>

  <div class="container">
    <div class="innerContainer">
      <!-- <mat-card> -->
        <mat-accordion multi="true">
          <mat-expansion-panel>
            <mat-expansion-panel-header collapsedHeight="*" expandedHeight="*">
              <mat-panel-title>
                [ENG] Where is the bathroom?
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>[VIET] Translation is here.</p>
            <p class="categoriesParagraph">Categories: Questions</p>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                This is the expansion title 2
              </mat-panel-title>
              <mat-panel-description>
                This is a summary of the content 2
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>This is the primary content of the panel 2.</p>
          </mat-expansion-panel>
        </mat-accordion>

      <!-- </mat-card> -->
    </div>
  </div>
</div>

