:host::ng-deep .mat-radio-label-content,
section p {
  font-family: 'Poppins', sans-serif;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  background-color: white;
  position: relative;
  margin: 0 10px;
  padding: 10px;
}

section p {
  text-align: center;
  margin-bottom: 20px;
  text-decoration: underline;
}

.categoryRadioGroup {
  display: flex;
  justify-content: center;
}

.triangle-right-corner {
  position: absolute;
	width: 0;
  height: 0;
  top: 5px;
  right: 5px;
	border-left: 20px solid transparent;
  border-right: 20px solid #4387c1;
  border-bottom: 20px solid transparent;
}

.displayOptionsHr {
  display: flex;
  width: 80%;
  margin: 10px auto;
}

.mat-radio-button .closedRadioButton {
  margin-left: 10px;
}

@media only screen and (max-width: 820px) {
  section {
    margin-right: 0;
  }
}

@media only screen and (max-width: 539px) {
  section {
    margin-left: 0;
    margin-top: 10px;
  }
}
