<section>
  <p>Initial display options</p>
  <mat-radio-group aria-label="Select an option" class="categoryRadioGroup">
    <mat-radio-button value="1" [checked]="true">English</mat-radio-button>
    <mat-radio-button value="2">Vietnamese</mat-radio-button>
    <div class="triangle-right-corner"></div>
  </mat-radio-group>
  <hr class="displayOptionsHr">
  <mat-radio-group aria-label="Select an option" class="categoryRadioGroup">
    <mat-radio-button value="closed" class="closedRadioButton" [checked]="true" (click)="clickMe()">Close All</mat-radio-button>
    <mat-radio-button value="open" class="openRadioButton" (click)="clickMe()">Open All</mat-radio-button>
    <div class="triangle-right-corner"></div>
  </mat-radio-group>
</section>

