<section>
  <p>Initial display options</p>
  <mat-radio-group aria-label="Select an option" class="categoryRadioGroup">
    <mat-radio-button value="1">English</mat-radio-button>
    <mat-radio-button value="2">Vietnamese</mat-radio-button>
    <div class="triangle-right-corner"></div>
  </mat-radio-group>
  <hr class="displayOptionsHr">
  <mat-radio-group aria-label="Select an option" class="categoryRadioGroup">
    <mat-radio-button value="1" class="closedRadioButton">Closed</mat-radio-button>
    <mat-radio-button value="2" class="openRadioButton">Open</mat-radio-button>
    <div class="triangle-right-corner"></div>
  </mat-radio-group>
</section>

