.content,
.languageStatus,
.categoriesParagraph,
:host::ng-deep .mat-button-wrapper {
  font-family: 'Be Vietnam', sans-serif !important;
}

.innerContainer {
  width: 95%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.mat-accordion {
  width: 100%;
}

mat-expansion-panel mat-expansion-panel-header {
  padding-top: 15px;
  padding-bottom: 15px;
  height: auto !important;
}

mat-expansion-panel {
  background: rgba(0,0,0,0.7);
  color: white;
  border: 1px solid #4387C1;
  font-family: 'Be Vietnam', sans-serif !important;
}

:host::ng-deep .mat-expansion-panel-body {
  padding-top: 10px;
}

:host::ng-deep .mat-expansion-indicator::after {
  color: white;
}

.categoriesParagraph {
  padding-top: 10px;
}

.languageStatus {
  display: flex;
  align-items: center;
  float: left !important;
  color: white;
}

.content {
  display: flex;
  justify-content: center;
  flex: 1;
  font-size: 18px;
  color: white;
  margin: 5px 0;
}

.post-image {
  display: flex;
  justify-content: center;
}

.post-image img {
  width: 250px;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid #4387C1;
}

.mat-action-row {
  border-top-color: #4387C1;
}

.mat-button.mat-primary {
  color: rgb(17, 201, 17);
}
