<div class="container">
  <div class="innerContainer">
      <mat-accordion multi="true">
        <mat-expansion-panel>
          <mat-expansion-panel-header collapsedHeight="*" expandedHeight="*">
            <mat-panel-title>
              <span class="languageStatus">[ENG]</span><span class="content">Where is the bathroom?</span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-panel-title>
            <span class="languageStatus">[VIET]</span><span class="content">Nhà vệ sinh ở đâu?</span>
          </mat-panel-title>
          <div class="post-image">
            <img src="/assets/images/vietnam.jpg" alt="flag">
          </div>
          <p class="categoriesParagraph">Categories: Questions</p>
          <mat-action-row>
            <button mat-button color="primary">EDIT</button>
            <button mat-button color="warn">DELETE</button>
          </mat-action-row>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              This is the expansion title 2
            </mat-panel-title>
            <mat-panel-description>
              This is a summary of the content 2
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>This is the primary content of the panel 2.</p>
          <mat-action-row>
            <button mat-button color="primary">EDIT</button>
            <button mat-button color="warn">DELETE</button>
          </mat-action-row>
        </mat-expansion-panel>
      </mat-accordion>
  </div>
</div>
