.form-nav-links,
.form-nav-links a {
    color: white;
}

.form-nav-links a:hover {
    background-color: rgb(129, 125, 125);
    border-radius: 5px;
    color: black;
}

.form-nav-links {
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.form-nav-links a {
    padding: 5px 10px;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid white;
}

.divider{
    width: 10px;
    height: auto;
    display: inline-block;
}

@media only screen and (max-width: 387px) {
    .newLineInText {
        display: block;
    }

    /* .form-nav-links {
      display: flex;
      flex-direction: column;
    } */
}

 
